.content {
  padding: 60px 0;
  .filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
    height: 75px;

    .search {
      input:focus {
        outline: none;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 35px;
      border: 1px solid var(--bg);
    }

    select {
      outline: none;
    }
    .Category,
    .Price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid var(--bg);
      width: 190px;
      height: 35px;
      padding: 0 10px;
    }
  }
  .product {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .content {
    .product {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .content {
    .product {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
    }
  }
}
