.sessionFood {
  width: 100%;
  padding: 120px 0px;
  background-color: aqua;
  background: linear-gradient(#212245b2, #212245b2),
    url("../../asset//images/banner-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}

.title {
  font-weight: 600;
  color: #fff;
  text-align: center;
}
